<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/style.css">
    <title>Root</title>
</head>
<body>
    {{>header}}
    <img class="weather-img" src="./img/weather.png" alt="weather">

    <form>
        <input type="text" placeholder="Location">
    <button class="btn">Search</button>
    </form>

    <p id="m1"></p>
      <p id="m2"></p>
    
    {{>footer}}

    <script src="./javascript/index.js"></script>
</body>
</html>